In [24]:
#Importando as bibliotecas
import pandas as pd
import seaborn as srn
import statistics as sts

In [25]:
#Importar dados
dataset = pd.read_csv("tempo.csv", sep = ";")

#Visualizar
dataset.head(14)

   Aparencia  Temperatura  Umidade       Vento Jogar
0        sol           85     85.0       FALSO   nao
1        sol           80     90.0  VERDADEIRO   nao
2    nublado           83     86.0       FALSO   sim
3      chuva           70      NaN       FALSO   sim
4      chuva           68     80.0       FALSO   sim
5      chuva           65     70.0  VERDADEIRO   nao
6      menos           64     65.0  VERDADEIRO   sim
7        sol         1220     95.0       FALSO   nao
8        sol           69     70.0       FALSO   sim
9      chuva           75    200.0         NaN   sim
10       sol           75     70.0  VERDADEIRO   sim
11   nublado           72     90.0  VERDADEIRO   sim
12   nublado           81     75.0       FALSO   sim
13     chuva           71     91.0  VERDADEIRO   nao

In [26]:
#Tratar dados tempo.csv
#Aparência: sol, nublado, chuva
#Temperatura: -130 ~ 130 F
#Umidade: 0 ~100
#Jogar: Sim / Não

#Tamanho
dataset.shape

(14, 5)

In [27]:
dataset["Umidade"].describe()

count     13.000000
mean      89.769231
std       34.540203
min       65.000000
25%       70.000000
50%       85.000000
75%       90.000000
max      200.000000
Name: Umidade, dtype: float64

In [28]:
#Preenche NAs da coluna Vento com FALSO
dataset["Vento"].fillna("FALSO", inplace = True)

In [29]:
dataset["Vento"].isnull().sum()

0

In [30]:
dataset.head(14)

   Aparencia  Temperatura  Umidade       Vento Jogar
0        sol           85     85.0       FALSO   nao
1        sol           80     90.0  VERDADEIRO   nao
2    nublado           83     86.0       FALSO   sim
3      chuva           70      NaN       FALSO   sim
4      chuva           68     80.0       FALSO   sim
5      chuva           65     70.0  VERDADEIRO   nao
6      menos           64     65.0  VERDADEIRO   sim
7        sol         1220     95.0       FALSO   nao
8        sol           69     70.0       FALSO   sim
9      chuva           75    200.0       FALSO   sim
10       sol           75     70.0  VERDADEIRO   sim
11   nublado           72     90.0  VERDADEIRO   sim
12   nublado           81     75.0       FALSO   sim
13     chuva           71     91.0  VERDADEIRO   nao

In [31]:
#Tratamento de Umidade
#Umidade: 0 ~100
#Calcula a Mediana da coluna Umidade
mediana_umidade = sts.median(dataset["Umidade"])
mediana_umidade

85.5

In [32]:
dataset.tail()

   Aparencia  Temperatura  Umidade       Vento Jogar
9      chuva           75    200.0       FALSO   sim
10       sol           75     70.0  VERDADEIRO   sim
11   nublado           72     90.0  VERDADEIRO   sim
12   nublado           81     75.0       FALSO   sim
13     chuva           71     91.0  VERDADEIRO   nao

In [33]:
dataset.loc[(dataset["Umidade"] < 0) | (dataset["Umidade"] > 100)]

  Aparencia  Temperatura  Umidade  Vento Jogar
9     chuva           75    200.0  FALSO   sim

In [34]:
dataset.loc[(dataset["Umidade"] < 0) | (dataset["Umidade"] > 100), "Umidade"] = mediana_umidade

In [35]:
dataset.loc[(dataset["Umidade"] < 0) | (dataset["Umidade"] > 100)]

Empty DataFrame
Columns: [Aparencia, Temperatura, Umidade, Vento, Jogar]
Index: []

In [36]:
dataset["Umidade"].fillna(85.5, inplace = True)

In [37]:
dataset.head(14)

   Aparencia  Temperatura  Umidade       Vento Jogar
0        sol           85     85.0       FALSO   nao
1        sol           80     90.0  VERDADEIRO   nao
2    nublado           83     86.0       FALSO   sim
3      chuva           70     85.5       FALSO   sim
4      chuva           68     80.0       FALSO   sim
5      chuva           65     70.0  VERDADEIRO   nao
6      menos           64     65.0  VERDADEIRO   sim
7        sol         1220     95.0       FALSO   nao
8        sol           69     70.0       FALSO   sim
9      chuva           75     85.5       FALSO   sim
10       sol           75     70.0  VERDADEIRO   sim
11   nublado           72     90.0  VERDADEIRO   sim
12   nublado           81     75.0       FALSO   sim
13     chuva           71     91.0  VERDADEIRO   nao

In [38]:
#Tratamento temperatura
#Temperatura: -130 ~ 130 F
dataset.head(14)

   Aparencia  Temperatura  Umidade       Vento Jogar
0        sol           85     85.0       FALSO   nao
1        sol           80     90.0  VERDADEIRO   nao
2    nublado           83     86.0       FALSO   sim
3      chuva           70     85.5       FALSO   sim
4      chuva           68     80.0       FALSO   sim
5      chuva           65     70.0  VERDADEIRO   nao
6      menos           64     65.0  VERDADEIRO   sim
7        sol         1220     95.0       FALSO   nao
8        sol           69     70.0       FALSO   sim
9      chuva           75     85.5       FALSO   sim
10       sol           75     70.0  VERDADEIRO   sim
11   nublado           72     90.0  VERDADEIRO   sim
12   nublado           81     75.0       FALSO   sim
13     chuva           71     91.0  VERDADEIRO   nao

In [39]:
#Mediana temperatura
mediana_temperatura = sts.median(dataset["Temperatura"])
mediana_temperatura

73.5

In [40]:
dataset.loc[dataset["Temperatura"] > 130, "Temperatura"] = mediana_temperatura

In [41]:
dataset.head(14)

   Aparencia  Temperatura  Umidade       Vento Jogar
0        sol         85.0     85.0       FALSO   nao
1        sol         80.0     90.0  VERDADEIRO   nao
2    nublado         83.0     86.0       FALSO   sim
3      chuva         70.0     85.5       FALSO   sim
4      chuva         68.0     80.0       FALSO   sim
5      chuva         65.0     70.0  VERDADEIRO   nao
6      menos         64.0     65.0  VERDADEIRO   sim
7        sol         73.5     95.0       FALSO   nao
8        sol         69.0     70.0       FALSO   sim
9      chuva         75.0     85.5       FALSO   sim
10       sol         75.0     70.0  VERDADEIRO   sim
11   nublado         72.0     90.0  VERDADEIRO   sim
12   nublado         81.0     75.0       FALSO   sim
13     chuva         71.0     91.0  VERDADEIRO   nao

In [42]:
#Aparência: sol, nublado, chuva
aparencia_agrupada = dataset.groupby(["Aparencia"]).size()
aparencia_agrupada

Aparencia
chuva      5
menos      1
nublado    3
sol        5
dtype: int64

In [43]:
dataset.loc[dataset["Aparencia"] == "menos", "Aparencia"] = "chuva"

In [44]:
dataset.head(14)

   Aparencia  Temperatura  Umidade       Vento Jogar
0        sol         85.0     85.0       FALSO   nao
1        sol         80.0     90.0  VERDADEIRO   nao
2    nublado         83.0     86.0       FALSO   sim
3      chuva         70.0     85.5       FALSO   sim
4      chuva         68.0     80.0       FALSO   sim
5      chuva         65.0     70.0  VERDADEIRO   nao
6      chuva         64.0     65.0  VERDADEIRO   sim
7        sol         73.5     95.0       FALSO   nao
8        sol         69.0     70.0       FALSO   sim
9      chuva         75.0     85.5       FALSO   sim
10       sol         75.0     70.0  VERDADEIRO   sim
11   nublado         72.0     90.0  VERDADEIRO   sim
12   nublado         81.0     75.0       FALSO   sim
13     chuva         71.0     91.0  VERDADEIRO   nao